body#top #wrap_all .about_2 {
  padding: 1% 12% 3%;
  .avia-image-container{
    display: inline;

    //.avia_image{
    //  width: 500px;
   // }
  }
  .avia_image{
    width: 450px;
  }
  .flex_column{
    padding-right: 15px;
  }
}