body#top #wrap_all .header_background{

  height: 100px;
  >.container{
    padding: 0;
   // margin-left: 0;
    max-width: none;
  }
  .template-page{
    padding: 0;
  }
  .flex_column{
    height: 100px;
    background-size: cover;
  }

  @media only screen and (max-width: 767px) {

    .container {
      width: 100%;
    }

  }

}