body#top{
    #header_main{
        >.container{
           // margin: 0 0;
        }
        //background: black;
        background-color: rgba(0,0,0,0.4);
        .logo{
            top: 6px;
            transform: scale(.80);
        }
        .main_menu{
            #avia-menu{
                >li{
                    >a{
                        .avia-menu-text{
                            font-size: 12px;
                            color: $white-color;
                            //text-transform: uppercase;
                            font-weight: 600;

                        }
                        .avia-menu-fx{
                            background-color: #f26c4f;
                           // border-color:$yellow-color;
                            width: 70%;
                            left: 15%;
                            bottom: 27px;
                            height: 4px;
                            display: inline-block;

                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 767px) {
            width: inherit;
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            height: 100px;


        }


    }



    #header_main_alternate{
       // background-color: $blue-color;
        background-color: rgba(0,0,0,0.6);
        .main_menu{
            #avia-menu{
                >li{
                    >a{
                        .avia-menu-text{
                            font-size: 18px;
                            color: $white-color;
                            text-transform: uppercase;
                            font-weight: 100;
                        }
                        .avia-menu-fx{
                            background-color: $white-color;
                            border-color: $white-color;
                            bottom: 7px;
                        }
                    }
                }
            }
        }
    }

}